@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevents scroll when sidebar is open */
}

/* Custom scrollbar for a sleeker look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}